.details{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: rgb(115, 58, 141);
    background-color: #fff;
    width: 40%;
    min-width: 300px;
    border-radius: 5px;
    border-bottom: 10px solid rgb(115, 58, 141);
    border-right: 10px solid rgb(115, 58, 141);
}

.details-button{
    margin-bottom: 10px;
}
.details-button button.purple{
    color: rgb(115, 58, 141) ;
    font-weight: 600;
    cursor: pointer;
    margin:5px;
    background-color: transparent;
    height: 40px;
    width: 60px;
    border-radius: 20px;
    border: 2px solid rgb(115, 58, 141);
}
.details-button button.orange{
    color: white ;
    font-weight: 600;
    cursor: pointer;
    margin:5px;
    background-color: transparent;
    height: 40px;
    width: 60px;
    border-radius: 20px;
    border: 2px solid rgb(115, 58, 141);
    background-color:rgb(115, 58, 141);
}

.details-flag img{
    width: 100%;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.info p{
    margin: 5px ;
}